@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

/* shared design */

.text-color-shared {
  color: rgb(229, 84, 115);
}

.btn {
  height: 58px;
  padding: 18px 40px;
  margin: 10px 0px;
  color: white;
  cursor: pointer;
  background-color: rgb(229, 84, 115);
  border-radius: 5px;
  border-style: none;
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
}
.title-shared {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}

.description-shared {
  padding: 15px 0px;
  color: rgba(39, 39, 39, 0.5);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

/* banner section */

.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
  padding: 30px 140px 0px;
}

.title-banner {
  max-width: 520px;
  color: rgba(39, 39, 39, 1);
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.banner-description {
  max-width: 500px;
}

.banner-photo {
  max-width: 100%;
  max-height: 800px;
  
}


/* featured flower section */

.feature-title {
  text-align: center;
  padding: 150px 300px 1px;
}

.feature-description {
  height: 100px;
  max-width: 550px;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.feature-box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 220px 150px;
}

.feature-box {
  margin: 1px;
  text-align: center;
  width: 464px;
  height: 528px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
}

.box-background-1 {
  background: rgba(167, 33, 98, 0.15);
}

.box-background-2 {
  background: rgba(5, 151, 160, 0.15);
}

.box-background-3 {
  background: rgba(71, 125, 17, 0.15);
}

.feature-photo {
  text-align: center;

}

.feature-image {
  margin: 2px;
}

.flower-image-1 {
  padding: 98px 75px 0px;
}

.flower-image-2 {
  padding: 120px 75px 40px 50px;
}

.flower-image-3 {
  padding: 54px 75px 0px;
}

.feature-link {
  padding: 32px;
}

.link-text {
  color: rgb(39, 39, 39);
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
}

/* delivery supply and support section */

.delivery-support-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  padding: 0px 100px;
  margin: 80px 230px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}

.delivery-support-box {
  padding: 5px 50px;
}

.delivery-support-image {
  padding: 15px;
}

.delivery-support-logo {
  text-align: center;
}

.delivery-support-name {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

/* sales and deals section */

.sale-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.sale-text {
  text-align: center;
  width: 550px;
  margin-left: 340px;
}

.deal-photo {
  margin-right: 320px;
  padding: 5px;
}

/* social media section */

.social-text {
  text-align: center;
  margin: 100px 600px 40px;
  padding: 5px 70px;
}

.social-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 220px 110px;
}

/* subscription section  */

.subscription-container {
  height: 449px;
  border-radius: 8px;
  margin: 100px 230px;
  background-image: url("./Flower\ Asset/Rectangle 9.png");
  background-repeat: no-repeat;
}

.subscription-box {
  text-align: center;
}

.subscription-text {
  padding: 120px 500px 30px;
}

.subscription-email {
  text-align: center;
}

input[type="email"] {
  width: 670px;
  height: 58px;
  border-style: none;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding: 0px 20px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
}

/* customer feedback section  */

.feedback-title {
  text-align: center;
  margin: 100px 600px 40px;
  padding: 5px 70px;
}

.feedback-box {
  display: flex;
  justify-content: center;
  margin: 10px 220px;
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.1);
}

.feedback-text-box {
  padding: 20px;
}

.customer-name {
  text-align: center;
  color: rgb(229, 84, 115);
  font-family: Lato;
  font-size: 20px;
  font-weight: 800;
}

.customer-feedback {
  width: 400px;
  text-align: justify;
  margin: 5px;
  padding: 25px;
}

.feedback-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 700px 100px;
}

/* footer section */

.footer-container {
  height: 180px;
  text-align: center;
  padding: 120px 0px;
  background-color: rgb(17, 16, 16);
}

.footer-title {
  color: rgb(255, 255, 255);
}

.foot-description {
  color: rgba(255, 255, 255, 0.9);
}

.copyright-text {
  color: rgba(255, 255, 255, 0.4);
}
